*{padding:0;margin:0;}
  h2{
    font-size:2em;
  }
  ul li{
    list-style-type: none;
  }
a{
  text-decoration: none;
}
body{
  font-size: 62.5%;
  height:100%;
  border-radius:5px;
  position:relative;
  overflow-y:hidden;
}
canvas{
  cursor:crosshair;
  display:block;
  background:#000;
}
@font-face{
  font-family:"PoseiAOE";
  src:url("../font/PoseiAOE.woff");
  src:url("../font/PoseiAOE.ttf"),url("../font/PoseiAOE.eot");
}
@mixin basic($position,$font,$color,$left,$top){
  position:$position;
  font:$font;
  color:$color;
  left:$left;
  top:$top;
}
@mixin basicRB($position,$font,$color,$right,$bottom){
  position:$position;
  font:$font;
  color:$color;
  right:$right;
  bottom:$bottom;
}
.slogan{
  @include basic(absolute,bold 3rem "PoseiAOE",#fff,50%,50%);
  transform:translate(-50%,-50%);
  -webkit-transform:translate(-50%,-50%);
}
.enter{
  @include basicRB(absolute,bold 2em "PoseiAOE",pink,30px,30px);
  cursor:pointer;
}


@mixin size($width,$height,$background,$padding,$border:1px solid yellow){
  width:$width;
  height:$height;
  background:$background;
  padding:$padding;
  border:$border;
}
@mixin rotate($transform,$background,$opacity:0.8){
  transform:$transform;
  background:$background;
  opacity:$opacity;
}
.sidebar{
  background:rgba(166, 241, 241, 0.62);
  padding:20px 15px 0 15px ;
  height: 100%;
  text-align: center;
  position:relative;
  .headPic{
    img{
      width:100%;
    }
  }
  .name{
    font:bold 2em "times";
    margin-top:20px;
  }
  .job{
    @include basicRB(absolute,bold 1.5em/1.5em "times",black,50%,50px);
    transform:translateX(50%);
    -webkit-transform:translateX(50%);
    .email{
      text-decoration:none;
    }
    p{
      span{
        color:#ffaa13;
      }
    }
  }
  .wrap{
    @include size(100px,100px,transparent,auto,none);
    @include basic(absolute,bold 1.5em "times",#fff,50%,50%);
    transform:translate(-50%,-50%);
    -webkit-transform:translate(-50%,-20%);
    perspective:500px;
    -webkit-perspective: 500px;
    .rotate{
      @include size(100px,100px,transparent,auto,none);
      position:relative;
      transform:rotateY(0deg);
      transition:transform 1s linear;
      transform-style:preserve-3d;
      -webkit-transform-style: preserve-3d;
      &>div{
        @include size(100px,100px,transparent,auto);
        position:absolute;
        line-height:100px;
        text-align:center;
        cursor:pointer;
        &:nth-child(1){
          @include rotate(translateZ(100px),pink)
        }
        &:nth-child(2){
          @include rotate(rotateY(60deg) translateZ(100px),#ffaa13)
        }
        &:nth-child(3){
          @include rotate(rotateY(120deg) translateZ(100px),#00afaf)
        }
        &:nth-child(4){
          @include rotate(rotateY(180deg) translateZ(100px),#2affaa)
        }
        &:nth-child(5){
          @include rotate(rotateY(240deg) translateZ(100px),#af5aaf)
        }
        &:nth-child(6){
          @include rotate(rotateY(300deg) translateZ(100px),#fa6213)
        }
      }
    }
  }
}
$font:normal 1.2em "times";
div.main{
  height:100%;
  position:relative;
  padding: 0;
  &>div{
    display:none;
    @include basic(absolute,$font,#fecb34,0,0);
    @include size(100%,100%,#231f20,0,none);
    transition:transform .5s ease-out;
    word-break:break-all ;
    .wrap{
      position:relative;
      top:50%;
      -webkit-transform:translateY(-70%);
      transform:translateY(-70%)
    }
    h1{
      margin:30px;
    }
    h2{
      color:#88ead0;
    }
    .tech{
      padding-left:40px;
    }




    &:nth-child(1){
      padding-top:20px;
      position:relative;
      img{
        width:80%;
      }
      .slogan2{
        @include basicRB(absolute,$font,#fecb34,50%,80px);
        -webkit-transform:translateX(50%);
        transform:translateX(50%)
      }
    }
    &:nth-child(2){
    }
    &:nth-child(3){
    }
    &:nth-child(4){
      section{
        position:relative;
        padding:0 20px;
        &:before{
          content:"";
          @include size(4px,100%,#ccc,auto,none);
          @include basic(absolute,$font,#231f20,calc(50% - 2px),0)
        }
        &>div{
          position:relative;
          .line_img{
            @include size(40px,40px,#75ce66,auto,none);
            border-radius:50%;
            box-shadow: 0 0 0 4px white, inset 0 2px 0 rgba(0, 0, 0, 0.08), 0 3px 0 4px rgba(0, 0, 0, 0.05);
            @include basic(absolute,$font,#231f20,calc(50% + 10px),20px);
            img{
              position:relative;
              top:6px;
            }
          }
          .line_content{
            position:relative;
            text-align: left;
            width: 200px;
            margin:20px calc(50% - 208px);
            border:1px solid #ccc;
            box-shadow: 0 3px 0 #d7e4ed;
            border-radius:5px;
            background:#75ce66;
            padding:5px 20px;
            p{
              color:#fff;
            }
            @mixin triangle{
              content:"";
              display:block;
              height:0;
              width:0;
              border:8px solid transparent;
            }
            &:after{
              @include triangle;
              @include basic(absolute,$font,#fff,calc( 100% - 1px),36px);
              border-left:8px solid #fff;
            }
          }
          &:after{
            display:block;
            content:"";
            clear:both;
          }
          &:nth-child(even){
            .line_img{
              left:calc(50% - 50px)
            }
            .line_content{
              margin: 20px calc(50% + 8px);
              &:after{
                @include basic(absolute,$font,#fff,-17px,36px);
                border-right:8px solid #fff;
                border-left-color:transparent;
              }
            }
          }
        }
      }
    }
    &:nth-child(5){
    }
    &:nth-child(6){
      p{
        margin-top:25px;
      }
      .skill{
        margin:20px 20px 20px 40px;
        h3{
          color: #75ce66;
        }
        ul{
          @include size(calc(100% - 20px),auto,#75ce66,20px,none);

          border-radius:50px;
          li{
            font:normal 2rem "times";
            color:#fff;
            margin-bottom:15px;
            list-style-type:disc;
          }
        }
      }

    }
    &:nth-child(7){
        font:1.3em/1.5em "times";
       p{
         color:#1fa4c7;
         span{
           color:#99ff83;
           font:bold 1.5em times;
         }
         a{
           color:#1fa4c7;
           &.download{
             font-size:1.5em;
             color:#fff;
           }
         }
        }

      .back{
        @include basicRB(absolute,bold 2.5em "PoseiAOE",#fecb34,30px,30px);
        @include size(100px,100px,transparent,auto,none);
        display:table-cell;
        vertical-align: middle;
        cursor:pointer;
        a{
          color:orangered;
        }
      }
    }
  }
  ul.page{
    @include basic(absolute,$font,#000,20px,0);
    li{
      cursor:pointer;
      span{
        display:inline-block;
        @include size(8px,8px,transparent,auto,1px solid #fecb34);
        border-radius:50%;
        &.active{
          background:#fecb34;
        }
      }
    }

  }
  .slideUp{
    display:block;
    transform:translateY(-100%);
    -webkit-transform:translateY(-100%);
  }
  .slideDown{
    display:block;
    transform:translateY(100%);
    -webkit-transform:translateY(100%);
  }
  .slideActive{
    display:block;
    transform:translateY(0px);
    -webkit-transform:translateY(0px);
  }

}


  @media screen and (min-width:993px){
    .sidebar{
      .headPic{
        img{
          width:200px;
          height:200px;
        }
      }
    }
    .tech{
      .imgWrap{
        margin:50px;
      }
    }
    div.main{
      &>div{
        &:nth-child(1){
          .slogan2{
            bottom:10px;
          }
        }
      }
    }
  }
  @media screen and (max-width:992px){
    .sidebar{
      .headPic{
        img{
          width:150px;
          height:150px;
        }
      }
    }

    .main > div{

    }
  }
@media screen and (max-width:768px) {
  .sidebar{
    position:absolute;
    transition:transform .5s ease-out;
  }
  }


